.footer {
/*  position:fixed;
  bottom: 0;
  width:100vw;*/
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

.limitedheight{
	max-height: 70px
}
.staff{
	height:3vmax;
	width:3vmax;
	min-height:30px;
	min-width: 30px;
}
.info{
	max-height: 100px;
}

